Binaries
DerivedDataCache
Intermediate
Saved
Platforms
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Characters
Content/Collections
Content/Developers
Content/LevelPrototyping
Content/Megascans
Content/MSPresets
Content/Texture
Content/Assets/AssTest
Content/Assets/AssTest_2
Content/Sounds
Build


.vscode
.vsconfig
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace